<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" routerLink="/">
                <h4>Courier@DoorStep</h4>
            </a>
        </div>
        <ul class="nav navbar-nav pull-left">
            <li>
                <a routerLink="/">
                    <h4>Home</h4>
                </a>
            </li>
            <!-- <li>
                <a routerLink="/login"><h4>Login</h4></a>
            </li> -->
            <li>
                <a routerLink="/about">
                    <h4>About</h4>
                </a>
            </li>
        </ul>
        <ul class="nav navbar-nav pull-right">
            <li>
                <a routerLink="/loginprovider">
                    <h4>Login/Register as Provider</h4>
                </a>
            </li>
        </ul>
        <ul class="nav navbar-nav pull-right">
            <li>
                <a routerLink="/myadminiskrstlogin">
                    <h4>Login as Admin</h4>
                </a>
            </li>
        </ul>
    </div>
</nav>