<div class="row">
    <div class="col s6">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="./../assets/images/about1.jpg">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Courier@DoorStep
                <i class="material-icons right">About Courier@DoorStep</i></span>
              <p><a routerLink="/">Home</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">About Courier@DoorStep<i class="material-icons right">close</i>
              </span>
              <br>
                
                  We are providing the srvices which are  designed for the customer's time-sensitive needs.
                  <br><br>The Value Added Services are introduced so that the customer needs are fulfilled <br> 
                   <br><b>Value Added Service (VAS) includes the following:</b> <br> <br>
                   <ol>
                     <li>Collect on Delivery (C.O.D.): For this product, the "invoice value" of the item dispatched is collected from the consignee at the time of delivery.</li>
                     <li>To-Pay or Freight on Delivery (F.O.D.): For this product, the "courier or freight charges" of the consignment are collected from the consignee at the time of delivery.</li>
                   </ol>
                   <br>
                   <b>Intracity includes the facility of pick-up and delivery in the same city. It is custom-built for the distribution of:</b>
                   <ol>
                     <li>Bulk documents such as mobile or insurance bills, bank statements and annual general reports.</li>
                     <li>Pamphlets, direct mailers, invitation cards and so on.</li>
                   </ol>
            </div>
          </div>
    </div>
    <div class="col s6">
      
      <div class="row">
          <div class="col s12 m12">
            <div class="card-panel">
              <span class="black-text">
                <h2>What we are?</h2>
                <br> 
                
                  We are providing the srvices which are  designed for the customer's time-sensitive needs.
                  <br><br>The Value Added Services are introduced so that the customer needs are fulfilled <br> 
                   <br><b>Value Added Service (VAS) includes the following:</b> <br> <br>
                   <ol>
                     <li>Collect on Delivery (C.O.D.): For this product, the "invoice value" of the item dispatched is collected from the consignee at the time of delivery.</li>
                     <li>To-Pay or Freight on Delivery (F.O.D.): For this product, the "courier or freight charges" of the consignment are collected from the consignee at the time of delivery.</li>
                   </ol>
                   <br>
                   <b>Intracity includes the facility of pick-up and delivery in the same city. It is custom-built for the distribution of:</b>
                   <ol>
                     <li>Bulk documents such as mobile or insurance bills, bank statements and annual general reports.</li>
                     <li>Pamphlets, direct mailers, invitation cards and so on.</li>
                   </ol>
              </span>
            </div>
          </div>
        </div>
    </div>
  </div>