<form>
  <div class="form-group">
    <label for="Name">Category Name :</label>
    <input type="text" class="form-control" name="pname" placeholder="Category Name" [(ngModel)]="category.name" readonly>
  </div>
  <div class="form-group">
    <label for="email">Category Image:</label>
    <input type="email" class="form-control" name="pemail" placeholder="Image" [(ngModel)]="category.image" readonly>
  </div>
  <div class="form-group">
    <label for="email">Description :</label>
    <input type="text" class="form-control" name="ppass" placeholder="Description" [(ngModel)]="category.description" readonly>
  </div>
</form>